:root {
    /* ---------- DEFAULTS ---------- */

    /* --- FONTS --- */
    --default-font-size-price: 2rem;
    --default-font-size-paragraphs: 1rem;
    --default-font-size-heading: 1.5rem;
    --default-font-padding: 1rem;
    --default-font-family: "Karla", sans-serif;

    /* --- MAIN SECTION --- */
    --default-main-width: 40rem;
    --default-section-padding: 2rem;

    /* ----------- COLORS ----------- */

    /* --- SECTION COLOR -- */
    --section-color-neutral: hsl(204, 43%, 93%);
    --section-color-primary: hsl(179, 62%, 43%);
    --section-color-secondary: hsl(71, 73%, 54%);
    --section-color-top: white;
    --section-color-blend: white;

    /* --- OTHER COLORS -- */
    --color-background: hsl(204, 43%, 93%);
    --color-secondary: hsl(71, 73%, 54%);
    --color-text-bottom: white;
    --color-text: hsl(218, 22%, 67%);
    --color-text-secondary: white;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: var(--default-font-size);
}

body {
    background-color: var(--color-background);
    font-family: var(--default-font-family);
    color: var(--color-text);
}

.content-container {
    display: grid;
    place-items: center;
    min-height: 95vh;
}

main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
        "main-top main-top"
        "main-left main-right";
    max-width: var(--default-main-width);
    border-radius: 0.5rem;
    overflow: hidden;
    margin: 1rem;
}

p {
    line-height: 1.5rem;
}

ul {
    list-style: none;
    line-height: 1.5rem;
}

.btn-sign-up {
    display: inline;
    color: var(--color-text-secondary);
    background-color: var(--color-secondary);
    font-weight: 700;
    width: 100%;
    padding: 1rem;
    border-radius: 0.5rem;
    border-style: none;
    align-self: end;
}

.btn-sign-up:hover {
    box-shadow: 5px 5px 10px 2px rgba(0, 0, 0, 0.3);
}

.btn-sign-up:active {
    background-color: color-mix(in hsl, var(--color-secondary), black 15%);
}
.main-heading-1 {
    color: var(--section-color-primary);
    font-weight: 700;
    font-size: var(--default-font-size-heading);
    padding-bottom: calc(var(--default-font-padding) * 1.5);
}

.main-heading-2 {
    color: var(--color-secondary);
    font-size: calc(var(--default-font-size-paragraphs) + 0.25rem);
    font-weight: 500;
    padding-bottom: var(--default-font-padding);
}

.section-main {
    grid-area: main-top;
    padding: var(--default-section-padding);
    background-color: var(--section-color-top);
}

.section-left {
    grid-area: main-left;
    display: grid;
    padding: var(--default-section-padding);
    background-color: var(--section-color-primary);
}

.sub-heading {
    color: var(--color-text-secondary);
    font-size: calc(var(--default-font-size-paragraphs) + 0.25rem);
    font-weight: 700;
}

.section-right {
    grid-area: main-right;
    padding: var(--default-section-padding);
    background-color: color-mix(
        in hsl,
        var(--section-color-primary),
        var(--section-color-blend) 20%
    );
}

.section-price {
    color: var(--color-text-secondary);
}

.subtext {
    color: var(--color-text-secondary);
    padding-top: var(--default-font-padding);
}

.price-heading {
    font-size: var(--default-font-size-heading);
    font-weight: 700;
}

footer {
    display: flex;
    align-items: center;
    justify-content: end;
    flex-direction: column;
    min-height: 5vh;
    color: black;
}
